* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

.button{
  border: 1px solid black;
  border-radius: 80px;
  padding: 2px;
}

.button:hover{
  background: rgb(240,240,240);
  background: linear-gradient(95deg, rgba(240,240,240,1) 0%, rgba(34,34,36,1) 50%, rgba(240,0,0,1) 100%);
}

.button:click{
  background: rgb(240,240,240);
  background: linear-gradient(95deg, rgba(240,240,240,1) 0%, rgba(34,34,36,1) 50%, rgba(240,0,0,1) 100%);
}

.input{
  border-radius: 70px;
  background-color: #F6CF57;
}

.header-text{
  font-family: 'Rubik Puddles', cursive;
}

/* Nav */
.logo{
  width: 2rem;
  height: auto;
  object-fit: fill;
  border: none;
  box-shadow: none;
}
.nav-link{
  color: #F6CF57;
  margin: 5px;
}

.nav-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: hidden;
  background: rgb(240,240,240);
  background: linear-gradient(95deg, rgba(240,240,240,1) 0%, rgba(34,34,36,1) 50%, rgba(240,0,0,1) 100%);
  border-bottom: 2px solid #F6CF57;
}

#nav-content{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin: .2rem 1%;
  overflow-y: hidden;
  
}
#logo-link{
  width: 4rem
}

#nav-banner{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background: rgb(240,0,0);
  background: linear-gradient(95deg, rgba(240,0,0,1) 0%, rgba(34,34,36,1) 50%, rgba(240,240,240,1) 100%);
  padding: .2rem;
  color: white;
}

#nav-banner-text{
  color: #F6CF57
}

.marquee-image{
  width: 4rem;
  height: auto;
  margin: 0 2rem;
  padding: .2rem 1rem;
  gap: 1rem;
  object-fit: fill;
  border: none;
  box-shadow: none;
}

.marquee-content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Trainer Team */
.team-container{
  background: #C8A2C8;
  height: 60rem;
}
.team-lineup{
  display: grid;
  grid-template-columns: 10rem 10rem;
  grid-template-rows: 13rem 13rem 13rem;
  column-gap: 2rem;
  row-gap: 3rem;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
}

.team-trainer-image{
  height: 6rem
}

.trainer-sprite-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 15px;
}
.team-trainer-sprite{
  border: 1px solid black;
  border-radius: 50px;
  padding: 25px;
  background-color: #89CFF0;
}

/* Home */
#home-container{
  display: flex;
  flex-direction: column;
  background-image: url("https://i.imgur.com/a5TxJlY.png");
  width:100%;
}

#greet-user{
  font-size: 1rem;
  align-items: center;
  justify-content: center;
}
.home-main{
  display: grid;
  grid-template-columns: 10rem 10rem;
  grid-template-rows: 13rem 13rem 13rem;
  column-gap: .5rem;
  row-gap: .5rem;
  align-items: center;
  justify-content: center;
}
#greet-user{
  display: flex;
  color: #702963;
  font-weight: bold;
  justify-content: center;
  font-size: 1.3rem;
  text-shadow: 2px 4px 2px white;
}

.protected{
  background-image: url("https://i.imgur.com/a5TxJlY.png");
  height: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}
/* Search */

.search-bar-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.option{
  font-size: .8rem;
  width: .8rem;
}
/* Trainer */
.trainer-card{}

.trainer-image{
  height: 8rem;
  width: 5.5rem
}
.image-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  border:3px solid black;
  padding: .4rem;
  border-radius: 75px;
  background: rgb(240,0,0);
  background: linear-gradient(142deg, rgba(240,0,0,1) 0%, rgba(34,34,36,1) 50%, rgba(240,240,240,1) 100%);
}
.trainer-name-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Pokemon */
.pokemon-card{
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
.pokemon-wrapper{
  display: flex;
  flex-direction: row;
  padding: 5px;
  margin-right: 15px;
}

.pokemon-name-wrapper{
  display: flex;
  justify-content: center;
}

.remove-pokemon-button{
  display: flex;
  flex-direction: row;
  justify-content: flex;
  align-items: flex;
}
.type-text{
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 25px;
  background: #ffffe0 ;
  margin: 5px;
  padding: 3px;
}
.pokemon-types{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pokemon-image-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  border-radius: 100px;
  margin-right: 5px;
  background: #FFCCCB;
}

.add-to-team-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50rem;
  background-image: url("https://i.imgur.com/a5TxJlY.png");
}

.option{
  font-size: 50px;
}

.select{
  font-size: 20px;
}
.choose-pokemon{
  font-size:60px !important
}
.select:click{ 
  font-size: 50px;
}

/* Profile Page */
.user-page-container{
  display: flex;
  flex-direction: column;
  padding-top: 15rem;
  align-items: center;
  background-image: url("https://i.imgur.com/a5TxJlY.png");
  height: 50rem;
}
.user-page-header{
  font-size: 2rem;
}

.user-page-image{
  width: 13rem;
  height:13rem;
  border-radius: 100px
}
.user-page-image-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Edit User Page */
.User-Info-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("https://i.imgur.com/a5TxJlY.png");
  height: 50rem;
}

.info-form{
  background-color: #89CFF0;
  padding: 20px;
  border-radius: 60px;
}

/* Login */
.login-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("https://i.imgur.com/a5TxJlY.png");
  height: 50rem;
}

/* Welcome */
.welcome-header-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("https://i.imgur.com/a5TxJlY.png");
  height: 50rem;
}

/* Register */
.register-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("https://i.imgur.com/a5TxJlY.png");
  height: 50rem;
}
/* Add Pokemon Form */
.add-pokemon-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("https://i.imgur.com/a5TxJlY.png");
  height: 50rem
}
/* Pokemon List */
.pokemon-list-container{
  background-image: url("https://i.imgur.com/a5TxJlY.png")
}
.pokemon-list{
  display: grid;
  grid-template-columns: 10rem 10rem;
  grid-template-rows: 13rem 13rem 13rem;
  column-gap: .5rem;
  row-gap: .5rem;
  align-items: center;
  justify-content: center;
}
/* Pokemon Card */
.pokemon-card-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}
.pokemon-image{
  height: 8rem;
  width: 5.5rem
}
.type-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}