* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

/* Nav */
.logo{
  width: 2rem;
  height: auto;
  /* margin: 0 2rem;
  padding: .2rem 1rem; */
  /* gap: 1rem; */
  object-fit: fill;
  border: none;
  box-shadow: none;
}

.nav-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: hidden;
  
}

#nav-content{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  
  border-bottom: 2px solid rgb(200, 198, 198);
  margin: .2rem 1%;
  overflow-y: hidden;
  
}
#logo-link{
  width: 4rem
}

#nav-banner{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* align-items: center; */
  background: rgb(215,129,106);
  background: linear-gradient(100deg, rgba(215,129,106,1) 0%, rgb(134, 51, 54) 100%);
  padding: .2rem;
  color: white;
}

.marquee-image{
  width: 4rem;
  height: auto;
  margin: 0 2rem;
  padding: .2rem 1rem;
  gap: 1rem;
  object-fit: fill;
  border: none;
  box-shadow: none;
}

.marquee-content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Trainer Team */
.team-lineup{
  display: flex;
  flex-direction: row;
}

.team-trainer-image{
  height: 6rem
}

/* Home */
#home-container{
  display: flex;
  flex-direction: column;
}

#greet-user{
  font-size: 1rem;
  align-items: center;
  justify-content: center;
}
.home-main{
  display: grid;
  grid-template-columns: 10rem 10rem;
  grid-template-rows: 13rem 13rem 13rem;
  column-gap: .5rem;
  row-gap: .5rem;
  align-items: center;
  justify-content: center;
}
/* Search */

.search-bar-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.option{
  font-size: .8rem;
  width: .8rem;
}
/* Trainer */
.trainer-card{}

.trainer-image{
  height: 8rem;
  width: 5.5rem
}